body {
    background-color: rgb(219, 213, 213);
}

.my-nav li {
    margin: 10px; 
    display: inline-block;
    
}

.my-nav {
    background-color: rgb(149, 173, 144);
}

table td {
    background-color:aquamarine;
}


.validation-errors {
    list-style-type: "\1f6a9";
}

.card {
    padding: 10px;
    width: 20%;
    border: 1px solid black;
    display: inline-block;
}

.card li {
    margin: 10px; 
    display: inline-block;
}

.badge {
    width: fit-content;
    padding:  4px 8px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.active {
    background-color: lightgreen;
}

.inactive {
    background-color: lightcoral;
}